<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <timestamp key="time" datePattern="yyyy_MM_dd-HH_mm_ss" />

    <appender name="DASHBOARD"
        class="com.github.twosquirrels.donguri.Dashboard$LogbackAppender">
        <file>logs/${time}.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%date{HH:mm:ss}] [%thread{}/%level{}]: %message</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="DASHBOARD" />
    </root>
</configuration>
